/* h2{
    font-family: garamond;
    font-size: 2.4em;
    font-weight: 600;
    /* color: Blue; single line */
} */


/* External CSS */
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
/*
Double line
*/